body {
  background: linear-gradient(145deg, 
  rgba(95, 75, 105, 1) 0%, 
  rgba(130, 110, 140, 0.8) 50%, 
  rgba(95, 75, 105, 1) 100%
),
repeating-linear-gradient(
  -45deg,
  transparent,
  transparent 2px,
  rgba(255, 255, 255, 0.384) 3px,
  rgba(255, 255, 255, 0.316) 4px
);
backdrop-filter: blur(16px) brightness(1.2);

}
.navigationBar
{
  height: auto;
  padding: 10px;
  display : flex ; 
  justify-content: center;
  gap: 20px;
  background: linear-gradient(145deg, 
  rgb(164, 199, 208) 0%,
  rgba(99,110,114,0.8) 50%,
  rgb(127, 65, 129) 100%
),
repeating-linear-gradient(
  -45deg,
  transparent,
  transparent 2px,
  rgba(255,255,255,0.03) 3px,
  rgba(255,255,255,0.03) 4px
);
}
.navigationBar a
{
  text-decoration: none;
  color: white;
  font-size: larger;
  
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  gap: 20px;
  
  
}

.sceneContainer {
  height: 500px; 
  width:600px; 
}


.content {
  max-width: 600px;
}

.content h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 1.2s ease-out forwards;
  /* Optionally delay the animation for a staged effect */
  animation-delay: 0.3s;
}

.content p {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 1.2s ease-out forwards;
  /* Optionally delay the animation for a staged effect */
  animation-delay: 0.3s;

}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bgFlow {
  0% { background-position: 0% 0% }
  50% { background-position: 100% 100% }
  100% { background-position: 0% 0% }
}
.button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background: linear-gradient(145deg, 
    rgb(120, 67, 122) 0%, 
    rgba(164, 199, 208, 1) 100%);
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.main a
{
  text-decoration: none;
  color: white;
}